<p id="notice"><%= notice %></p>

<h1>Listing Sidebars</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Image url</th>
      <th>Cloud url</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @sidebars.each do |sidebar| %>
      <tr>
        <td><%= sidebar.title %></td>
        <td><%= sidebar.image_url %></td>
        <td><%= sidebar.cloud_url %></td>
        <td><%= sidebar.description %></td>
        <td><%= link_to '', sidebar, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_sidebar_path(sidebar), class: 'fa fa-pencil-square-o' %></td>
        <td><%= link_to '', sidebar, class: 'fa fa-trash-o', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' New Sidebar', new_sidebar_path, class: 'fa fa-plus-square-o' %>
