<p id="notice"><%= notice %></p>

<h1>Listing Sidebars</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Image url</th>
      <th>Cloud url</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sidebars.each do |sidebar| %>
      <tr>
        <td><%= sidebar.title %></td>
        <td><%= sidebar.image_url %></td>
        <td><%= sidebar.cloud_url %></td>
        <td><%= sidebar.description %></td>
        <td><%= link_to 'Show', sidebar %></td>
        <td><%= link_to 'Edit', edit_sidebar_path(sidebar) %></td>
        <td><%= link_to 'Destroy', sidebar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sidebar', new_sidebar_path %>
