<style type="text/css">
	p { border:#eee 1px solid }
</style>

<div class="container">
		<p id="notice"><%= notice %></p>
		<div class="col-md-6 col-xs-6 col-md-offset-3 ">
			<p>
			  <!-- <strong>Title:</strong> -->
			  <h3><%= @sidebar.title %></h3>
			</p>

			<% if image_tag @sidebar.image_url == '' %>
				
			<p><img src="<%= @sidebar.cloud_url %>" alt="test" ></p>
			<% else %>
			<p><%= image_tag @sidebar.image_url %></p>
			<% end %>

			<p>
			  <!-- <strong>Description:</strong> -->
			  <%= @sidebar.description %>
			</p>
			<br>
			<% if admin_signed_in? %>
				<%= link_to 'Edit', edit_sidebar_path(@sidebar) %> |
				<%= link_to 'Back', sidebars_path %> |
				<%= link_to 'Admin Area', admins_path %>
			<% end %>
		</div>
</div>
<br>
<br>