<div class="container">
<h1>Profile Admininstrator</h1>
<br>
	<form class="form-horizontal">
		<p id="notice"><%= notice %></p>

		<div class="form-group">
			<label class="col-sm-1 control-label"><strong>Name:</strong></label>
			<div class="col-sm-6">	
				<input type="text" class="form-control" placeholder="<%= @admin.name %>">
			</div>	
		</div>
		<div class="form-group">	
			<label class="col-sm-1 control-label"><strong>Email:</strong></label>
			<div class="col-sm-6">  
			  <input type="email" class="form-control" placeholder="<%= @admin.email %>">
			</div>  
		</div>	  

			<%= link_to 'Edit', edit_admin_path(@admin) %> |
			<%= link_to 'Back', admins_path %>

	</form>
</div>	