<div class="container">
<h1>Profile Admininstrator</h1>
<br>
	<form class="form-horizontal">
		<p id="notice"><%= notice %></p>

		<div class="form-group">
			<div class="col-sm-6">
				<%= image_tag(@admin.image_url, width: '50', height: '60', class: "img-circle") %>
			</div>	
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label"><strong>Name:</strong></label>
			<div class="col-sm-6">	
				<input type="text" class="form-control" placeholder="<%= @admin.name %>">
			</div>	
		</div>
		<div class="form-group">	
			<label class="col-sm-2 control-label"><strong>Email:</strong></label>
			<div class="col-sm-6">  
			  <input type="email" class="form-control" placeholder="<%= @admin.email %>">
			</div>  
		</div>
		<div class="form-group">	
			<label class="col-sm-2 control-label"><strong>SuperAdmin:</strong></label>
			<div class="col-sm-6">  
			  <input type="superadmin" class="form-control" placeholder="<%= @admin.superadmin %>">
			</div>  
		</div>
		


		<%= link_to 'Edit', edit_admin_path(@admin) %> |
		<%= link_to 'Back', admins_path %>

	</form>
</div>	