 
  <%= form_for(@article) do |f| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

  <form>
        
    <div class="form-group">  
      <%= f.label :Category %><br> 
      <%= f.collection_select :category_id, Category.all, :id, :title, :multiple => true, :size => 5 %>  
    </div>
    
    <div class="form-group">    
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">  
        <%= f.label :body %><br>
        <%= f.text_area :body, class: 'form-control' %>
    </div>

    <!-- <div class="form-group">   
        <%= f.label :image_url %><br>
        <%= f.text_field :image_url, class: 'form-control' %>
    </div> -->

    <div class="form-group">
      <%= f.label :upload_image_ukuran_gambar_Lebar_200_x_Tinggi_211 %><br>
      <%= f.file_field :image_url %>
    </div>

    <div class="form-group">  
        <%= f.label :author %><br>
        <%= f.text_field :author, class: 'form-control' %>
    </div>
    <div class="form-group">  
        <%= f.submit %>
    </div>  
    <% end %>
  </form>