 <%= tinymce_assets %>

  <%= form_for(@article) do |f| %>
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

        <ul>
        <% @article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


  <form>        
    <div class="form-group">  
      <%= f.label :Category %><br> 
      <%= f.collection_select :category_id, Category.all, :id, :title, :prompt => 'Pilih Category', :multiple => true, :size => 5 %>  
    </div>
    
    <div class="form-group">    
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">  
        <%= f.label :body, 'Content' %><br>
        <%= f.text_area :body, :class => "tinymce", :rows => 20, :cols => 100 %>
        <%= tinymce %>
    </div>

    <div class="form-group">
      <%= f.label :upload_image, 'Upload Image *Usahakan minimal width: 255px' %><br>
      <%= f.file_field :image_url %>
    </div>

    <div class="form-group">  
        <%= f.label :admin_id, 'Author' %><br>
        <%= f.collection_select :admin_id, Admin.all, :id, :name, :multiple => true, :prompt => 'Pilih Admin - Author', :size => 5 %>
    </div>

  <!-- khusus Coupons -->

  <a class="btn btn-primary btn-sm" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Khusus Category Coupon
  </a> <span class="text-danger">Klik it!</span>

  <div class="collapse" id="collapseExample">
    <div class="well">
      <div class="form-group">  
        <%= f.label :harga_awal %><br>
        <%= f.text_field :harga_awal, class: 'form-control' %>
      </div>
      <div class="form-group">  
        <%= f.label :Discount %><br>
        <%= f.text_field :discount, class: 'form-control' %>
      </div>

      <div class="form-group">  
          <%= f.label :Harga_sesudah %><br>
          <%= f.text_field :harga_sesudah, class: 'form-control' %>
      </div>
      <div class="form-group">  
        <%= f.label :Periode_awal %><br>
        <%= f.text_field :time_awal, 'data-provide' => 'datepicker' %>  
      </div>

      <div class="form-group">  
          <%= f.label :Periode_akhir %><br>
          <%= f.text_field :time_akhir, 'data-provide' => 'datepicker' %>
      </div>

      <div class="form-group">  
        <%= f.label :Nama_vendor %><br>
        <%= f.collection_select :vendor_id, Vendor.all, :id, :name, :multiple => true, :prompt => 'Pilih Vendor', :size => 5 %>
      </div>

      <div class="form-group">  
          <%= f.label :Syarat_ketentuan, "Syarat & Ketentuan" %><br>
          <%= f.text_area :syarat, class: 'form-control' %>
      </div>

      <div class="form-group">  
          <%= f.label :Info_vendor %><br>
          <%= f.text_area :info_vendor, class: 'form-control' %>        
      </div>

    </div>
  </div>
    
  <div class="form-group" style="padding-top:20px">  
      <%= f.submit 'Save', class: 'btn btn-primary btn-lg' %>
  </div> 

    <br> 
    <% end %>
  </form>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.datepicker').datepicker();
    });
  </script>