<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>

<p>
  <%= image_tag(@article.image_url, :alt => @article.title, :width => '200', :height => '211') %>
</p>
  
<p>
  <strong>Category:</strong>
  <%= @article.category.title %>
</p>

<p>
  <%= sanitize @article.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author %>
</p>

<p>
  <strong>Harga Awal:</strong>
  <%= @article.harga_awal %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @article.discount %>
</p>

<p>
  <strong>Harga Sesudah:</strong>
  <%= @article.harga_sesudah %>
</p>

<p>
  <strong>Periode Awal:</strong>
  <%= @article.time_awal %>
</p>

<p>
  <strong>Periode Akhir:</strong>
  <%= @article.time_akhir %>
</p>

<p>
  <strong>Nama Vendor:</strong>
  <%= @article.vendor.name if @article.vendor %>
</p>

<p>
  <strong>Syarat & Ketentuan:</strong>
  <%= @article.syarat %>
</p>

<p>
  <strong>Info Vendor:</strong>
  <%= @article.info_vendor %>
</p>
<br>
<br>
<%= link_to 'Edit', edit_article_path(@article), 'data-no-turbolink' => true %> |
<%= link_to 'Back', articles_path %>
<br>
<br>