<div class="container"> 

  <div class="col-md-9 col-sm-9 col-xs-12">
    
    <p id="notice"><%= notice %></p>
  
      <p align="center">
        <%= image_tag(@article.image_url, :alt => @article.title, class: 'img-responsive') %>
      </p>
      
      <div class="caption">
        <h1><%= @article.title %></h1>  
        <p>
          <strong>Category:</strong>
          <%= @article.category.title %> |
          <strong>Author:</strong> 
          <%= @article.admin.name %> |
          <strong>Date: </strong>
          <%= @article.created_at.strftime("%d %B %Y") %> 
        </p>
        <hr>
        <br>  
        <!-- content -->
        <div class="row">

          <!-- leftside -->
          <%= render 'shared/leftside' %>
          <!-- #leftside -->
        
          <!-- main content -->
          <div class="content col-md-10 col-sm-10 col-xs-12">
            <p>
              <%= sanitize @article.body %>
            </p>

            <!--+++ condition if category +++-->
            <style type="text/css">
              p.bg{ background-color: #eee;

              }
            </style>

            <% if @article.category.title == 'Coupon' %>
              <p class="bg">
                <strong>Harga Awal:</strong>
                <%= @article.harga_awal %>
              </p>

              <p>
                <strong><i class="fa fa-tag" style="color:#E6A33F"></i> Discount: </strong>
                <%= @article.discount %>
              </p>

              <p class="bg">
                <strong>Harga Sesudah:</strong>
                <%= @article.harga_sesudah %>
              </p>

              <p>
                <strong>Periode Awal:</strong>
                <%= @article.time_awal %>
              </p>

              <p class="bg">
                <strong>Periode Akhir:</strong>
                <%= @article.time_akhir %>
              </p>

              <p>
                <strong>Nama Vendor:</strong>
                <%= @article.vendor.name if @article.vendor %>
              </p>

              <p class="bg">
                <strong>Syarat & Ketentuan:</strong>
                <%= @article.syarat %>
              </p>

              <p>
                <strong>Info Vendor:</strong>
                <%= @article.info_vendor %>
              </p>
            <% end %>
          </div><!-- content -->        
        </div><!-- row -->     
      </div>  
      
        
      <br>
      <br>

      <% if admin_signed_in? %>
        <%= link_to 'Edit', edit_article_path(@article), 'data-no-turbolink' => true %> |
        <%= link_to 'Back', articles_path %>
      <% end %>  
      <br>
      <br>

      <!-- other story -->

      <!-- comments -->

    </div>

    <!-- sidebar -->
    <div class="col-md-3">
      <%= render 'shared/sidebar2' %>
    </div>

    <div class="row">
      
    </div>


</div>  