<div class="row carousel-holder">
  <div class="col-md-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        
        <div class="item active">
        <% @mainslides1.each do |mainslide1| %>
          <%= image_tag(mainslide1.cloud_url, :alt => "slide1-from-cloud", class:"img-responsive") %>
          <div class="carousel-caption">
            <h3><%= mainslide1.title %></h3>
            <p><%= mainslide1.descrip %></p>
          </div>
        <% end %>
        </div>
        
        <div class="item">
        <% @mainslides2.each do |mainslide2| %>
          <%= image_tag(mainslide2.cloud_url, :alt => "slide2-form-cloud", class:"img-responsive") %>
          <div class="carousel-caption">
            <h3><%= mainslide2.title %></h3>
            <p><%= mainslide2.descrip %></p>
          </div>
        <% end %>  
        </div>

        <div class="item">
        <% @mainslides3.each do |mainslide3| %>
          <%= image_tag(mainslide3.cloud_url, :alt => "slide3-form-cloud", class:"img-responsive") %>
          <div class="carousel-caption">
            <h3><%= mainslide3.title %></h3>
            <p><%= mainslide3.descrip %></p>
          </div>
        <% end %>  
        </div>
      
      </div>

      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>  
</div>