<div class="row-header img-responsive" style="background: #ccc url(http://s16.postimg.org/qr8up2679/Head_Banner_2_1200x122px.jpg);">
<!-- background-image: url("paper.gif"); -->
  <header>
    <!-- <div id="logo" align="center">
    	<%= image_tag("logo_vp_word1.png", :alt => "logvp") %>
    </div> -->
    
    <div id="logo" align="center" style="padding-top:15px">

		    <%= form_tag vendors_path, :method => 'get' do %>
				    <p>
				        <%= select_tag :section_id, options_from_collection_for_select(Section.all, :id, :name, params[:section_id]), include_blank: true, prompt: 'Vendor Category', class: '' %>
				        <%= text_field_tag :city, params[:city] %>

				        <%= submit_tag "Search", :name => nil %>
				    </p>
				<% end %>  
		    
    </div>

  	

  </header>
</div>