<!-- <div class="list-group" style="padding-top:20px">
  <a href="#" class="list-group-item active">Last Article</a>
  <a href="#" class="list-group-item">Category 2</a>
  <a href="#" class="list-group-item">Category 3</a>
</div> -->

<ul class="list-group" style="padding-top:20px">
	<% @sidebars.each do |sidebar| %>	
  <li class="list-group-item text-center">
  	<%= link_to image_tag(sidebar.cloud_url), sidebar_path(sidebar) %><br>
  	<p style="background-color:#eee"><strong><%= sidebar.title %></strong></p>
  </li>
  <% end %>
</ul>

<!-- previous articles -->
<ul class="list-group" style="padding-top:20px">
  <li class="list-group-item active text-center lead">Previous Article</li>
  <% @articles2sb.each do |article2sb| %>
    <li class="list-group-item">
      <div class="media">
        <div class="media-left col-xs-4 col-md-4">
          <%= image_tag article2sb.image_url.url(:thumb), :alt => 'article2sb.title', class: 'img-responsive' %>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= link_to truncate(article2sb.title, length: 21), article_path(article2sb) %></h4>
          <p><%= truncate(strip_tags(article2sb.body), length: 40) %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>