<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
    <div class="list-group">
        <!-- <a href="#" class="list-group-item active">Link</a> -->
        <%= link_to image_tag("images.jpg", :alt => "coba", class: 'img-thumbnail'), root_path %>
        <%= image_tag("sample.jpg", :alt => "hati merah", class: 'img-thumbnail') %>
        <%= image_tag("sample1_l.jpg", :alt => "sample1", class: 'img-thumbnail') %>
        <%= image_tag("sample1_mini.jpg", :alt => "sample1_mini", class: 'img-thumbnail') %>
        <%= image_tag("sample2_l.jpg", :alt => "sample2", class: 'img-thumbnail') %>
        <!-- <a href="#" class="list-group-item">Link</a> -->
   </div>
</div><!--/.sidebar-offcanvas-->