<%= form_for(@mainslide) do |f| %>
  <% if @mainslide.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mainslide.errors.count, "error") %> prohibited this mainslide from being saved:</h2>

      <ul>
      <% @mainslide.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :slidenumber, 'Slide Number' %>
    <%= f.select(:slidenumber, [['Satu', '1'], ['Dua', '2'], ['Tiga', '3'], ['Empat', '4'] ], :prompt => 'Pilih Slide Number') %>
  </div>
  <br>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :descrip %><br>
    <%= f.text_field :descrip, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :cloud_url, 'Upload Image to ' %><%= link_to ' Cloudinary', "http://cloudinary.com", target: "_blank", class: 'form-controller' %><br>
    <%= f.text_field :cloud_url, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :active, 'Aktifasi' %>
    <%= f.select(:active, [['Yes', 'Y'], ['No', 'N']], :prompt => 'Aktifkan') %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit 'Save!', class: 'btn btn-default' %>
  </div>
<% end %>
<br>
