<p id="notice"><%= notice %></p>

<h1>Listing Mainslides</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Descrip</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @mainslides.each do |mainslide| %>
      <tr>
        <td><%= mainslide.title %></td>
        <td><%= mainslide.descrip %></td>
        <td><%= link_to '', mainslide, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_mainslide_path(mainslide), class: 'fa fa-pencil-square-o' %></td>
        <td><%= link_to '', mainslide, class: 'fa fa-trash-o', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' new Header Slide', new_mainslide_path, class: 'fa fa-plus-square-o' %>
