<div class="container">  
  <div align="center">
    <h3>Fill Form to Contact Us</h3>

    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.input :name, :required => true %>
      <br>
      <%= f.input :email, :required => true %>
      <br>
      <%= f.input :message, :as => :text, :required => true, :input_html => {:rows => 10} %>
      <br>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>

      <div>
        
        <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>  
