<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-md-9">
      <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
      <div class="jumbotron">
              <div class="row">
                <h1>WP Coupons</h1>
              </div>  
      </div>

      <div class="row">
             
        <div class="col-sm-6 col-lg-6 col-md-6">
          <div class="lead text-center bg-primary">Coupon1</div>                
          <ul class="list-unstyled list-inline"> 
            <% @articles.each do |article| %>     
            <li>  
              
                <div class="thumbnail">
                  <%= image_tag article.image_url.url(:thumb), :alt => 'article.title', class: 'img-responsive' %>
                    <div class="caption">
                      <h4 class="pull-right"><span class='label label-danger'>Rp.<%= article.harga_sesudah %></span></h4>
                        <h4><%= link_to truncate(article.title, length: 21), article_path(article) %></h4>
                      <p class="pull-right"><s>Rp. <%= article.harga_awal %></s></p>
                        <p>Harga Awal</p>  
                          
                          <p><%= truncate(strip_tags(article.body.html_safe), length: 80) %></p>
                    </div>
                    <div class="ratings">
                      <p class="pull-right">15 reviews</p>
                      <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                      </p>
                    </div>
                </div>
            
            </li>
            <% end %> 
          </ul>
        </div>
  
      </div><!-- row -->
    </div><!--/.col-xs-12.col-sm-9-->

    <!-- sidebar -->
    <div class="col-md-3">
      <%= render 'shared/sidebar2' %>
    </div>
    
  </div><!-- row-offcanvas row-offcanvas-right -->  
</div>