
    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
              <div class="row">
                <h1>Event & Promo</h1>
              </div>  
          </div>

          <div class="col-sm-6 col-lg-6 col-md-6  ">
          <div class="lead text-center bg-primary">Events</div>  
          <ul class="list-unstyled list-inline"> 
            <% @articles3.each do |article3| %>     
            <li>  
              
                <div class="thumbnail">
                  <%= image_tag article3.image_url.url(:thumb), :alt => 'article3.title', class: 'img-responsive' %>
                    <div class="caption">
                      <h4 class="pull-right"><span class='label label-primary'>New</span></h4>
                        <h4><%= link_to truncate(article3.title, length: 21), article_path(article3) %></h4>
                      <p class="pull-right"><%= article3.author %></p>
                        <p>Author</p>  
                          <p><%= truncate(strip_tags(article3.body), length: 80) %></p>
                    </div>
                    <div class="ratings">
                      <p class="pull-right">15 reviews</p>
                      <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                      </p>
                    </div>
                </div>
              
            </li>
            <% end %> 
          </ul>
        </div>

        </div><!--/.col-xs-12.col-sm-9-->

        <!--/.sidebar-offcanvas-->
        <!-- sidebar -->
        <div class="col-md-3">
          <%= render 'shared/sidebar2' %>
        </div>


      </div><!--/row-->
    </div>  
