  
  <%= form_for(@vendor, multipart: true) do |f| %>
    <% if @vendor.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

        <ul>
        <% @vendor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Vendor Name' %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <br>
    <br>
    <div class="field">
      <%= f.label :section, 'Section (Jenis Usaha)' %>
      <%= f.collection_select :section_id, Section.all, :id, :name, :multiple => true, :prompt => 'Pilih Section', :size => 5 %> 
      <br>
    </div>
    <br>
    <div class="field">
      <%= f.label :description, 'About Your Business' %><br>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :contactp, 'Contact Person' %><br>
      <%= f.text_field :contactp, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :website, 'Website' %><br>
      <%= f.text_field :website, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :address, 'Address' %><br>
      <%= f.text_area :address, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :city %><br>
      <%= f.text_field :city, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :upload_image, 'Upload Photo Profile' %><br>
      <%= f.file_field :image_url %>
    </div>
    <br>
    
    <h2>Contact Social Media</h2>   
    <div class="field">
      <%= f.label :social, 'Facebook' %><br>
      <%= f.text_field :social, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :social2, 'Twitter' %><br>
      <%= f.text_field :social2, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :social3, 'Instagram' %><br>
      <%= f.text_field :social3, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :social4, 'Line' %><br>
      <%= f.text_field :social4, class: 'form-control' %>
    </div>
    <br>
    <% if current_vendor.supervendor? %>
      <%= f.label :supervendor, 'Super Vendor ?: ' %>
      <%= f.radio_button :supervendor, '1' %> 
      <%= label :supervendor, 'Yes' %>
      <%= f.radio_button :supervendor, '0' %>
      <%= label :supervendor, 'No' %>  
    <% end %>
    <br>
    <br>

    <div class="actions">
      <%= f.submit class: 'btn btn-danger' %>
    </div>
  <% end %>
  <br>

