<div class="col-md-6">	
	<h1>Editing Vendor</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @vendor %> |
	<%= link_to 'Go to Vendor Page', vendors_page_path %>
	<% if current_vendor.supervendor? %>
		| <%= link_to 'Back to Vendor List', vendors_path %>	
	<% elsif admin_signed_in? %>
		<%= link_to 'Back to vendor list', vendors_path, class: 'pull-right' %>
	<% end %>
	<br>
	<br>
	<br>
	<br>
</div>
<br>
