<p id="notice"><%= notice %></p>

<h1>Listing Vendors</h1>

<%= form_tag(vendors_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Name" %>
  <%= text_field_tag :search, params[:search], placeholder: "Search City" %>
  <%= submit_tag "Search" %>
  <%= link_to ' Refresh', vendors_path, class: 'fa fa-refresh' %>
<% end %>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>City</th>
      <th>Section</th>
      <th>Supervendor</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= vendor.email %></td>
        <td><%= vendor.city %></td>
        <td><%= vendor.section.name if vendor.section %></td>
        <% if vendor.supervendor == true %>
          <td><%= 'Yes' %></td>
        <% else %>
          <td><%= '' %></td>  
        <% end %>
        <td><%= link_to '', vendor, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_vendor_path(vendor), class: 'fa fa-pencil-square-o' %></td>
        <td><%= link_to '', vendor, class: 'fa fa-trash-o', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
