<div class="container">	
	
	<div class="col-sm-10">
		<h1>Profile Vendor</h1>
		<div class="panel panel-default">
			
			<div class="panel-heading">
				<h1 class="text-center"><%= @vendor.name %> | <span class="text-danger"><%= @vendor.statusta %></span></h1>  
			</div>
			
			<div class="panel-body">
				<p id="notice"><%= notice %></p>

				<div class="col-sm-8">	
					<form class="form-horizontal">
						<div class="form-group">
							<% %>
							<label class="col-sm-3 control-label">	
								<%= image_tag(@vendor.image_url, :alt => 'foto-vendor', :height => '120', :width => '120', class: 'img-circle') %>
							</label>
							<!-- <div class="col-sm-8 col-sm-offset-1">
								<%= form_for(@vendor, multipart: true) do |f| %>
						      <%= f.label :Edit_profile %><br>
						      <%= f.file_field :image_url %>
								<% end %>
							</div> -->
						</div>

						<div class="form-group">
					    <label for="inputName3" class="col-sm-4 control-label">Vendor Category:</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" id="inputEmail3" placeholder="<%= @vendor.vendor_category %>">
					    </div>
					  </div>

					  <div class="form-group">
					    <label for="inputName3" class="col-sm-4 control-label">About My Business:</label>
					    <div class="col-sm-8">
					      <textarea class="form-control" id="inputEmail3" placeholder="<%= @vendor.description %>"></textarea>
					    </div>
					  </div>

					  <div class="form-group">
					    <label for="inputName3" class="col-sm-4 control-label">Contact Person:</label>
					    <div class="col-sm-8">
					      <input type="contactp" class="form-control" id="inputEmail3" placeholder="<%= @vendor.contactp %>">
					    </div>
					  </div>

					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">Email:</label>
					    <div class="col-sm-8">
					      <input type="email" class="form-control" id="inputEmail3" placeholder="<%= @vendor.email %>">
					    </div>
					  </div>

					  <% if current_vendor.supervendor? %>
					  <div class="form-group">
					    <label for="input" class="col-sm-4 control-label">Supervendor:</label>
					    <div class="col-sm-8">
					      <input type="boolian" class="form-control" id="input" placeholder="<%= @vendor.supervendor %>">
					    </div>
					  </div>
					  <% end %>

					  <h2>Social Media</h2>	
					  <div class="form-group">
					    <label for="inputSocial3" class="col-sm-4 control-label">Facebook :</label>
					    <div class="col-sm-8">
					      <input type="social" class="form-control" id="inputSocial" placeholder="<%= @vendor.social %>">
					    </div>
					    <br>
					    <label for="inputSocial3" class="col-sm-4 control-label">Twitter:</label>
					    <div class="col-sm-8">
					      <input type="social2" class="form-control" id="inputSocial2" placeholder="<%= @vendor.social2 %>">
					    </div>
					    <br>
					    <label for="inputSocial3" class="col-sm-4 control-label">Instagram:</label>
					    <div class="col-sm-8">
					      <input type="social3" class="form-control" id="inputSocial3" placeholder="<%= @vendor.social3 %>">
					    </div>
					    <br>
					    <label for="inputSocial3" class="col-sm-4 control-label">Line:</label>
					    <div class="col-sm-8">
					      <input type="social4" class="form-control" id="inputSocial4" placeholder="<%= @vendor.social4 %>">
					    </div>
					  </div>
					  <br>
					  <div class="form-group">
					    <label for="inputWebsite3" class="col-sm-4 control-label">Website:</label>
					    <div class="col-sm-8">
					      <input type="email" class="form-control" id="inputEmail3" placeholder="<%= @vendor.website %>">
					    </div>
					  </div>

					  <div class="form-group">
					    <label for="inputAddress" class="col-sm-4 control-label">Address:</label>
					    <div class="col-sm-8">
					      <textarea class="form-control" rows="3" id="inputAddress" placeholder="<%= @vendor.address %>"></textarea>
					    </div>
					  </div>

					  <div class="form-group">
					    <label for="inputCity" class="col-sm-4 control-label">City:</label>
					    <div class="col-sm-8">
					      <input type="city" class="form-control" id="inputCity" placeholder="<%= @vendor.city %>">
					    </div>
					  </div>

					  <div class="form-group hidden">
					    <label for="inputEmail3" class="col-sm-4 control-label">Image Url:</label>
					    <div class="col-sm-8">
					      <input type="email" class="form-control" id="inputEmail3" placeholder="<%= @vendor.image_url %>">
					    </div>
					  </div>

					</form>
					<br>
				<%= link_to 'Edit', edit_vendor_path(@vendor), class: 'btn btn-danger' %> 
				<%= link_to 'Back', vendors_page_path, class: 'btn btn-danger pull-right' %>
				</div>	

			</div>
		</div>	
	</div> <!-- class="col-sm -->

</div>