  
  <%= form_for(@contactu) do |f| %>
    <% if @contactu.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@contactu.errors.count, "error") %> prohibited this contactu from being saved:</h2>

        <ul>
        <% @contactu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, class: 'label-control' %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :email, class: 'label-control' %><br>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
    <br>
    <div class="field">
      <%= f.label :message, class: 'label-control' %><br>
      <%= f.text_area :message, class: 'form-control' %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit 'Send to Us', class: 'btn btn-default' %>
    </div>
  <% end %>
  <br>
