<p id="notice"><%= notice %></p>

<h1>MailBox from Contact Us</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactus.each do |contactu| %>
      <tr>
        <td><%= contactu.name %></td>
        <td><%= contactu.email %></td>
        <td><%= contactu.message %></td>
        <td><%= link_to 'Read', contactu %></td>
        <!-- <td><%= link_to 'Edit', edit_contactu_path(contactu) %></td> -->
        <td><%= link_to 'Destroy', contactu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
