<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, class: 'label-control' %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :body, 'Content' %><br>
    <%= f.text_area :body, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :Company_name, 'Vendor Name' %><br>
    <%= f.text_field :name, value: @post.vendor.name, class: 'form-control disabled', disabled: 'disabled'  %>
  </div>
  <br>
  <div class="field">
    <%= f.label :section_id, "Section / Business Category" %><br>
    <%= f.collection_select :section_id, Section.all, :id, :name, :multiple => true, :prompt => 'Pilih Section / Category Usaha', :size => 5  %>
  </div>
  <br>
  <div class="field">
    <%= f.label :image_url, 'Upload Image' %><br>
    <%= f.file_field :image_url %>
  </div>
  <br>
  <div class="field">
    <%= f.label :kolom, 'Post Kolom: ' %>
    <%= f.select(:kolom, [['Satu', 1],['Dua', 2],['Tiga', 3]], :prompt => 'Pilih Kolom') %>
    <label type="label" class="label label-default label-xs" data-toggle="tooltip" data-placement="right" title="Pilih Kolom untuk Tampilan, Kolom 1: Kiri, Kolom 2: Tengah, Kolom 3: Kanan">?</label>

  </div>
  <br>
  <div class="field">
    <%= f.label :active, 'Activate to show: ' %>
    <%= f.select(:active, [['No', 'No'],['Yes', 'Yes']]) %>
    <label type="label" class="label label-default label-xs" data-toggle="tooltip" data-placement="right" title="Yes untuk Tampilkan, No untuk tidak Menampilkan ke Pengunjung">?</label>
  </div>
  <br>

  <div class="actions">
    <%= f.submit 'Save!', class: 'btn btn-default' %>
  </div>
<% end %>
<br>
