<p id="notice"><%= notice %></p>

<div class="row bg-primary">
  <div class="col-sm-6">  
    <h1>My Posts</h1>    
  </div>
  <div class="col-sm-6 text-right" style="padding-top:20px;">  
    <%= link_to 'Create New', new_post_path, class: 'btn btn-default btn-sm' %>
  </div>  
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Vendor</th>
      <th>Category</th>
      <th>Kolom</th>
      <!-- <th>Image url</th> -->
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= post.vendor.name if post.vendor %></td>
        <td><%= post.section.name if post.section %></td>
        <td><%= post.kolom %></td>
        <!-- <td><%= post.image_url %></td> -->
        <td><%= link_to '', post, class: 'glyphicon glyphicon-eye-open' %></td>
        <td><%= link_to '', edit_post_path(post), class: 'glyphicon glyphicon-pencil' %></td>
        <td><%= link_to '', post, class: 'glyphicon glyphicon-trash', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
