<%= form_for(@gallery) do |f| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h2>

      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :album_id, 'Album' %><br> 
    <%= f.collection_select :album_id, Album.all, :id, :title, :multiple => true, :prompt => 'Pilih Album', :size => 5 %>
  </div>
  <br>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :name, 'Vendor Name' %><br>
    <%= f.text_field :name, class: 'form-control', value: @gallery.vendor.name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :image_url, 'Upload Image' %><br>
    <%= f.file_field :image_url %>
  </div>
  <!-- <br>
  <div class="field">
    <%= f.label :image_url, 'Upload Via Cloud' %><br>
    <%= f.text_field :image_url, class: 'form-control' %>
  </div> -->
  <br>
  <div class="actions">
    <%= f.submit 'Save!', class: 'btn btn-default' %>
  </div>
<% end %>
<br>