<p id="notice"><%= notice %></p>

<p>
  <h1><%= @gallery.title %></h1>
</p>

<p>
  <strong>Vendor Name:</strong><br>
  <%= @gallery.vendor.name %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @gallery.description %>
</p>

<p>
  <strong>Image Gallery</strong><br><br>
  <%= image_tag(@gallery.image_url, :alt => 'img-kosong') %>
</p>
<br>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
