<p id="notice"><%= notice %></p>

<p>
  <h1><%= @gallery.title %></h1>
</p>

<p>
  <strong>Vendor Name:</strong><br>
  <%= @gallery.vendor.name if @gallery.vendor %>
</p>

<p>
  <strong>Description:</strong><br>
  <%= @gallery.description %>
</p>

<p>
  <strong>Image Gallery</strong><br><br>
  <div class="col-md-8 col-sm-12">
  	<%= image_tag(@gallery.image_url, :alt => 'img-kosong') %>
  </div>
  	
</p>
<br>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
