<!DOCTYPE html>
<html>
<head>
  <title>Vendor Pernikahan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="google-site-verification" content="<meta name="google-site-verification" content="PlXvBatfCDFyh4tjC_h99qVnyz1kyJREHKG0GurZtLQ" />
  	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<%= favicon_link_tag 'favicon.ico' %>
	
	<!-- FA -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<style type="text/css">
	h2{
	    /*margin: 0;*/     
	    /*color: #666;*/
	    padding-top: 20px;
	    /*font-size: 52px;*/
	    /*font-family: "trebuchet ms", sans-serif;*/    
	}
	.item{
	    background: #EC008C;    
	    text-align: center;
	    height: 450px !important;
	}
	.carousel{
	    margin-top: 20px;
	}
	.bs-example{
		margin: 20px;
	}
	</style>

	<!-- jquery-ui -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="/resources/demos/style.css">
	<script>
	  $(function() {
	    $( "#dialog" ).dialog({
	    	width: 550,
	    	height: 350,
	    });
	  });
  </script>
  <!-- #jquery-ui -->

</head>

<body>



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render 'shared/navbar' %>
<%= render 'shared/navbar_2nd' %>
	
<div class="main-page-content <%= controller.controller_name %>" >
	<%= yield %>
</div>

<%= render 'shared/footer' %>
</body>
</html>
