<!DOCTYPE html>
<html>
<head>
  <title>Halaman Vendor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style type="text/css">
  h2{
      /*margin: 0;*/     
      /*color: #666;*/
      padding-top: 20px;
      /*font-size: 52px;*/
      /*font-family: "trebuchet ms", sans-serif;*/    
  }
  .item{
      background: #EC008C;    
      text-align: center;
      height: 450px !important;
  }
  .carousel{
      margin-top: 20px;
  }
  .bs-example{
    margin: 20px;
  }
  </style>

</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Dashboard-Vendor", vendors_page_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <!-- <li><a href="#">Dashboard</a></li>-->
            <% if current_vendor.supervendor? %>
            <li><%= link_to 'Halaman Admin', admins_path %></li>
            <% end %>

            <% if vendor_signed_in? %>
            <li><%= link_to current_vendor.name, current_vendor %></li>
            <li><%= link_to 'My Profile', current_vendor %></li>
            <% end %>
            <li><%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %></li>

            <!-- <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          <!-- <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form> -->
          </ul>

        </div>
      </div>
    </nav>

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-sm-3 col-md-2 sidebar">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="title"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><%= link_to 'Home', root_path %></h3>
        </div>
            <!-- Accordion -->
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        My Profile
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <%= link_to "Show" %>
                    </div>
                    <div class="panel-body">
                      <%= link_to "Edit" %>
                    </div>
                    <div class="panel-body">
                      <%= link_to "Vendor Page" %>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Member Paid
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <%= link_to "Register" %>
                    </div>
                    <div class="panel-body">
                      <%= link_to "Price List" %>
                    </div>
                    <div class="panel-body">
                      <%= link_to "Sub Menu 3" %>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        My Post
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <% if current_vendor %>
                        <%= link_to "All Post", posts_path %>
                      <% end %>
                    </div>
                    <div class="panel-body">
                      <%= link_to "Add New Post", new_post_path %>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Menu 4
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      <%= link_to "Sub Menu 1" %>
                    </div>
                    <div class="panel-body">
                      <%= link_to "Sub Menu 2" %>
                    </div>
                    <div class="panel-body">
                      <%= link_to "Sub Menu 3" %>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Menu 5
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      <%= link_to "Sub Menu 1" %>
                    </div>
                    <div class="panel-body">
                      <%= link_to "Sub Menu 2" %>
                    </div>
                    <div class="panel-body">
                      <%= link_to "Sub Menu 3" %>
                    </div>
                  </div>
                </div>
              </div><!-- #Accordion -->
                       
      </div> <!-- panel -->  
    </div> <!-- #sidebar -->
    <!-- Mainbar -->
    <div class="col-sm-9 col-md-10 main">
      <div class="main-page-content <%= controller.controller_name %>" >
        <%= yield %>
      </div>
    </div> <!-- #mainbar -->
  </div>

</div>

</body>
</html>
